/* Define a color scheme */
:root {
    --primary-color: #eae8e4; 
    --text-color: #000000;
  }
  
  body {
    font-family: Verdana, Tahoma, sans-serif, sans-serif;
    background-color: var(--primary-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
    
  }
  